In [1]:
import pandas as pd

In [2]:
venue_df =  pd.read_csv('dataset_TIST2015_POIs.txt', sep="\t", 
                   header=None,  encoding = "ISO-8859-1", 
                   names=['venue_id','latitude', 'longitude', 'category_name', 'countrycode'])

In [3]:
venue_df

,venue_id,latitude,longitude,category_name,countrycode
0,3fd66200f964a52000e71ee3,40.733596,-74.003139,Jazz Club,US
1,3fd66200f964a52000e81ee3,40.758102,-73.975734,Gym,US
2,3fd66200f964a52000ea1ee3,40.732456,-74.003755,Indian Restaurant,US
3,3fd66200f964a52000ec1ee3,42.345907,-71.087001,Indian Restaurant,US
4,3fd66200f964a52000ee1ee3,39.933178,-75.159262,Sandwich Place,US
5,3fd66200f964a52000f11ee3,40.652766,-74.003092,Bowling Alley,US
6,3fd66200f964a52001e51ee3,40.726961,-73.980039,Dive Bar,US
7,3fd66200f964a52001e81ee3,40.756353,-73.967676,Bar,US
8,3fd66200f964a52001ed1ee3,37.779837,-122.494471,Seafood Restaurant,US
9,3fd66200f964a52001ef1ee3,34.092793,-118.281469,Bar,US
10,3fd66200f964a52001f11ee3,40.591334,-73.960725,Nightclub,US
11,3fd66200f964a52002eb1ee3,40.733630,-74.002288,Jazz Club,US
12,3fd66200f964a52002ee1ee3,41.941562,-87.664011,Pub,US
13,3fd66200f964a52002ef1ee3,34.075314,-118.253499,Bar,US
14,3fd66200f964a52003e51ee3,40.724822,-73.981456,Dive Bar,US
15,3fd66200f964a52003e71ee3,40.739685,-74.006020,French Restaurant,US
16,3fd66200f964a52003e81ee3,40.756119,-73.972532,Hotel Bar,US
17,3fd66200f964a52003ec1ee3,42.346127,-71.080363,French Restaurant,US
18,3fd66200f964a52004e41ee3,40.718363,-73.990817,Bar,US
19,3fd66200f964a52004e51ee3,40.722206,-73.981720,Theater,US
20,3fd66200f964a52004e61ee3,40.722842,-73.994116,Cuban Restaurant,US
21,3fd66200f964a52004e81ee3,40.756048,-73.967762,Pub,US
22,3fd66200f964a52004ee1ee3,40.025411,-75.337446,Pub,US
23,3fd66200f964a52005e41ee3,40.719831,-73.987351,Bar,US
24,3fd66200f964a52005e51ee3,40.724464,-73.990690,Gay Bar,US
25,3fd66200f964a52005e71ee3,40.728473,-74.005318,Bar,US
26,3fd66200f964a52005e81ee3,40.756161,-73.967686,Pub,US
27,3fd66200f964a52005eb1ee3,40.734814,-73.988429,Music Venue,US
28,3fd66200f964a52005ee1ee3,40.007474,-75.290192,Nightclub,US
29,3fd66200f964a52005f01ee3,34.025916,-118.457514,Music Store,US
...,...,...,...,...,...
3680096,5237602911d2d03ba9715043,37.168138,28.375413,Home (private),TR
3680097,5237606f11d2aea47a97d983,3.184545,101.702243,Asian Restaurant,MY
3680098,5237619411d201dc845626ac,29.278062,47.996074,Home (private),KW
3680099,523761a711d288ce5a10da51,3.031436,101.618828,Campaign Office,MY
3680100,52376716498e229cc396e88d,-7.144335,-34.914595,Bakery,BR
3680101,523768ad11d27e8e93c20acb,47.485773,19.054992,Event Space,HU
3680102,5237690d498ea9808ecea59d,29.329489,48.005983,Home (private),KW
3680103,5237693011d23f0674849ef9,41.006645,29.051811,Home (private),TR
3680104,52376b3811d20a28332eba3b,39.901173,32.703606,Residential Building (Apartment / Condo),TR
3680105,52376bd911d2bfb6327b28b6,38.805472,30.532185,Residential Building (Apartment / Condo),TR
3680106,523772a7498ef04b78aaf969,55.642598,37.478095,Residential Building (Apartment / Condo),RU
3680107,5237749f11d2d607f2d31e1a,36.800000,34.633333,Residential Building (Apartment / Condo),TR
3680108,5237752111d2cb5e8957ef33,-3.085112,-60.070352,Miscellaneous Shop,BR
3680109,523776d511d2d88ae9c922cc,48.681974,9.286265,Home (private),DE
3680110,5237775d11d23db79b3bbb6f,-10.985038,-37.046555,General Entertainment,BR
3680111,523777c4498e41bcc1437a6f,40.769098,29.933578,Home (private),TR
3680112,5237782d11d2bd904b83eda1,38.781884,-77.017299,General Entertainment,US
3680113,523778d811d2ecf52c1ceae0,51.050520,3.715664,Housing Development,BE
3680114,52377af5498eb3ac89e34ffc,39.856071,32.758615,Nightclub,TR
3680115,52377ba411d2c10295195b31,43.101319,-77.542397,Trail,US
3680116,5237811911d2de2cca85a02b,37.763507,30.556692,Home (private),TR
3680117,523782cc498ecdaeaaa3a3e6,19.395412,-99.174399,Italian Restaurant,MX
3680118,5237836411d212ceb51f75b9,20.631531,-103.410723,Home (private),MX
3680119,5237853e11d24eb361546cad,41.191422,29.049320,Residential Building (Apartment / Condo),TR
3680120,5237856c11d288314e64f171,-23.485495,-46.743014,Home (private),BR
3680121,5237865c498e89110c1d03e7,40.154444,26.410847,Comedy Club,TR
3680122,5237867411d2a1e910744c81,35.340099,33.309328,Home (private),CY
3680123,5237879111d216bab10e9e09,-1.404065,-48.453742,Home (private),BR
3680124,52378c24498ea9502baf2716,3.425155,-76.545010,Sandwich Place,CO
3680125,5237920a11d2173b20b50d4b,-6.129426,106.650974,Plane,ID

In [49]:
testset = pd.read_csv('5.txt', sep="\t", 
                   header=None,  encoding = "ISO-8859-1", 
                   names=['user_id', 'venue_id', 'time_utc', 'time_offset'])

In [50]:
testset

,user_id,venue_id,time_utc,time_offset
0,5,4cc4bca9b2beb1f76dc21e4c,Tue Apr 03 23:58:06 +0000 2012,540
1,5,4e477fdd45dd2955e5a6ab83,Tue Apr 03 23:59:33 +0000 2012,540
2,5,4b6e6a0af964a52079bc2ce3,Wed Apr 04 00:01:14 +0000 2012,540
3,5,4b9dba6df964a5201bbc36e3,Wed Apr 04 00:12:00 +0000 2012,540
4,5,4b9dae9ff964a520d8b936e3,Wed Apr 04 03:25:11 +0000 2012,540
5,5,4ec1dc336da15b4ddff0d2b5,Wed Apr 04 03:53:36 +0000 2012,540
6,5,4f28bb20e4b062eef0cf0224,Wed Apr 04 09:50:03 +0000 2012,540
7,5,4c36ef2c2c8020a1ff1c8800,Wed Apr 04 09:52:07 +0000 2012,540
8,5,4e942020d3e3941fc9e78c1d,Wed Apr 04 09:53:12 +0000 2012,540
9,5,4bea83ca61aca59320ca8300,Wed Apr 04 09:56:05 +0000 2012,540
10,5,4d97d0b097d06ea84b3b260b,Wed Apr 04 09:58:04 +0000 2012,540
11,5,4c0c79a22466a593ac337621,Wed Apr 04 10:08:25 +0000 2012,540
12,5,4e26c885aeb76636253655e6,Wed Apr 04 11:01:06 +0000 2012,540
13,5,4c9c11488afca0937557ea15,Wed Apr 04 12:47:46 +0000 2012,540
14,5,4c1b11c8eac020a1045944c2,Wed Apr 04 12:48:57 +0000 2012,540
15,5,4b3ae51bf964a520956f25e3,Thu Apr 05 00:00:39 +0000 2012,540
16,5,4cc4bca9b2beb1f76dc21e4c,Thu Apr 05 00:01:05 +0000 2012,540
17,5,4e477fdd45dd2955e5a6ab83,Thu Apr 05 00:02:10 +0000 2012,540
18,5,4b6e6a0af964a52079bc2ce3,Thu Apr 05 00:04:20 +0000 2012,540
19,5,4c3ea281b8b4be9a317bccef,Thu Apr 05 00:11:09 +0000 2012,540
20,5,4f28bb20e4b062eef0cf0224,Thu Apr 05 11:05:50 +0000 2012,540
21,5,4c36ef2c2c8020a1ff1c8800,Thu Apr 05 11:06:42 +0000 2012,540
22,5,4e942020d3e3941fc9e78c1d,Thu Apr 05 11:07:03 +0000 2012,540
23,5,4bea83ca61aca59320ca8300,Thu Apr 05 11:08:15 +0000 2012,540
24,5,4d97d0b097d06ea84b3b260b,Thu Apr 05 11:09:59 +0000 2012,540
25,5,4c0c79a22466a593ac337621,Thu Apr 05 11:11:29 +0000 2012,540
26,5,4bbf1a1d82a2ef3ba3322cd2,Fri Apr 06 14:29:42 +0000 2012,540
27,5,4bd26a059854d13a3acafb4d,Fri Apr 06 14:41:00 +0000 2012,540
28,5,4bea83ca61aca59320ca8300,Fri Apr 06 14:58:32 +0000 2012,540
29,5,4dc0cba3fa764d03e9f06419,Fri Apr 06 15:01:33 +0000 2012,540
...,...,...,...,...
2502,5,4e942020d3e3941fc9e78c1d,Mon Sep 02 11:29:54 +0000 2013,540
2503,5,51ca4b4f454abd72140aeaeb,Mon Sep 02 11:32:03 +0000 2013,540
2504,5,51aee8e4011c65be9b32c33c,Mon Sep 02 12:21:36 +0000 2013,540
2505,5,4f28bb20e4b062eef0cf0224,Tue Sep 03 03:17:09 +0000 2013,540
2506,5,4b679ba0f964a52081572be3,Tue Sep 03 03:26:25 +0000 2013,540
2507,5,4bea83ca61aca59320ca8300,Tue Sep 03 03:33:58 +0000 2013,540
2508,5,4c3ea281b8b4be9a317bccef,Wed Sep 04 00:09:55 +0000 2013,540
2509,5,4b7cb723f964a520a0a22fe3,Wed Sep 04 03:31:04 +0000 2013,540
2510,5,4e942020d3e3941fc9e78c1d,Thu Sep 05 09:55:54 +0000 2013,540
2511,5,51aee8e4011c65be9b32c33c,Thu Sep 05 10:45:44 +0000 2013,540
2512,5,51174c66e4b00c196111abf9,Fri Sep 06 09:00:10 +0000 2013,540
2513,5,4b9b5fd6f964a5204a0336e3,Fri Sep 06 09:13:54 +0000 2013,540
2514,5,4e3290ca45ddcff0a7557c66,Fri Sep 06 11:16:05 +0000 2013,540
2515,5,4b56b2d7f964a520e51828e3,Fri Sep 06 12:03:24 +0000 2013,540
2516,5,50935c43e4b08367d8982ca8,Fri Sep 06 13:01:23 +0000 2013,540
2517,5,51aee8e4011c65be9b32c33c,Fri Sep 06 13:13:24 +0000 2013,540
2518,5,4b57d5eaf964a520404328e3,Sat Sep 07 09:58:40 +0000 2013,540
2519,5,4dec5cc722713dd973c545e4,Sat Sep 07 10:01:12 +0000 2013,540
2520,5,4cc4bca9b2beb1f76dc21e4c,Sun Sep 08 23:59:45 +0000 2013,540
2521,5,4b6e6a0af964a52079bc2ce3,Mon Sep 09 00:03:17 +0000 2013,540
2522,5,4b6e6a0af964a52079bc2ce3,Fri Sep 13 00:03:17 +0000 2013,540
2523,5,4e39e3d2c65b8a6b56a7d862,Fri Sep 13 00:10:21 +0000 2013,540
2524,5,4c3ea281b8b4be9a317bccef,Fri Sep 13 00:12:17 +0000 2013,540
2525,5,51d5222c8bbd851a0386c597,Fri Sep 13 09:21:52 +0000 2013,540
2526,5,4b6107bdf964a520d7062ae3,Fri Sep 13 09:51:44 +0000 2013,540
2527,5,4e3290ca45ddcff0a7557c66,Fri Sep 13 11:13:13 +0000 2013,540
2528,5,4f28bb20e4b062eef0cf0224,Sun Sep 15 03:04:43 +0000 2013,540
2529,5,4cc4bca9b2beb1f76dc21e4c,Mon Sep 16 08:22:19 +0000 2013,540
2530,5,4b651918f964a52010e42ae3,Mon Sep 16 08:27:26 +0000 2013,540
2531,5,50bb10a1e4b0275941bd37bd,Mon Sep 16 09:29:12 +0000 2013,540

In [29]:
df = pd.DataFrame(columns=['user_id', 'venue_id', 'latitude', 'longitude', 
                            'time_utc', 'time_offset', 'category_name', 'country_code'])

In [30]:
df

Empty DataFrame
Columns: [user_id, venue_id, latitude, longitude, time_utc, time_offset, category_name, country_code]
Index: []

In [17]:
((venue_df[venue_df['venue_id']=='3fd66200f964a52000ee1ee3']).values)[0]

array(['3fd66200f964a52000ee1ee3', 39.933178000000005, -75.159262,
       'Sandwich Place', 'US'], dtype=object)

In [41]:
def map_category(venue_df, user_id):
    testset = pd.read_csv(user_id, sep="\t", 
                   header=None,  encoding = "ISO-8859-1", 
                   names=['user_id', 'venue_id', 'time_utc', 'time_offset'])
    df = pd.DataFrame(columns=['user_id', 'venue_id', 'latitude', 'longitude', 
                            'time_utc', 'time_offset', 'category_name', 'country_code'])
    for index, row in testset.iterrows():
        x=((venue_df[venue_df['venue_id']==row['venue_id']]).values)[0]
        user_id=row['user_id']
        venue_id=row['venue_id']
        lat=x[1]
        lng=x[2]
        time=row['time_utc']
        offset=row['time_offset']
        catname=x[3]
        cc=x[4]
        print(index)
        df = df.append([{'user_id': user_id, 'venue_id':venue_id, 'latitude':lat, 'longitude':lng, 
                        'time_utc':time, 'time_offset':offset, 'category_name':catname, 
                         'country_code':cc}], ignore_index=True)
    return df

In [57]:
# df = map_category(venue_df, '5.txt')

In [54]:
df.to_csv('5.csv')

In [55]:
test = pd.read_csv('5.csv')

In [56]:
test

,Unnamed: 0,user_id,venue_id,latitude,longitude,time_utc,time_offset,category_name,country_code
0,0,5,4cc4bca9b2beb1f76dc21e4c,34.701410,135.494860,Tue Apr 03 23:58:06 +0000 2012,540,Train Station,JP
1,1,5,4e477fdd45dd2955e5a6ab83,34.701198,135.495490,Tue Apr 03 23:59:33 +0000 2012,540,Art Gallery,JP
2,2,5,4b6e6a0af964a52079bc2ce3,34.700060,135.495973,Wed Apr 04 00:01:14 +0000 2012,540,Mall,JP
3,3,5,4b9dba6df964a5201bbc36e3,34.697276,135.495824,Wed Apr 04 00:12:00 +0000 2012,540,Coffee Shop,JP
4,4,5,4b9dae9ff964a520d8b936e3,34.696898,135.496396,Wed Apr 04 03:25:11 +0000 2012,540,Restaurant,JP
5,5,5,4ec1dc336da15b4ddff0d2b5,34.696736,135.495962,Wed Apr 04 03:53:36 +0000 2012,540,Korean Restaurant,JP
6,6,5,4f28bb20e4b062eef0cf0224,34.697583,135.495621,Wed Apr 04 09:50:03 +0000 2012,540,Train Station,JP
7,7,5,4c36ef2c2c8020a1ff1c8800,34.698199,135.497206,Wed Apr 04 09:52:07 +0000 2012,540,Plaza,JP
8,8,5,4e942020d3e3941fc9e78c1d,34.699390,135.497561,Wed Apr 04 09:53:12 +0000 2012,540,Event Space,JP
9,9,5,4bea83ca61aca59320ca8300,34.700448,135.497303,Wed Apr 04 09:56:05 +0000 2012,540,Plaza,JP
10,10,5,4d97d0b097d06ea84b3b260b,34.701189,135.497904,Wed Apr 04 09:58:04 +0000 2012,540,Department Store,JP
11,11,5,4c0c79a22466a593ac337621,34.701388,135.498306,Wed Apr 04 10:08:25 +0000 2012,540,Food Court,JP
12,12,5,4e26c885aeb76636253655e6,34.700783,135.500905,Wed Apr 04 11:01:06 +0000 2012,540,Pub,JP
13,13,5,4c9c11488afca0937557ea15,34.702591,135.496680,Wed Apr 04 12:47:46 +0000 2012,540,Train Station,JP
14,14,5,4c1b11c8eac020a1045944c2,34.702521,135.495833,Wed Apr 04 12:48:57 +0000 2012,540,Platform,JP
15,15,5,4b3ae51bf964a520956f25e3,34.702424,135.495908,Thu Apr 05 00:00:39 +0000 2012,540,Train Station,JP
16,16,5,4cc4bca9b2beb1f76dc21e4c,34.701410,135.494860,Thu Apr 05 00:01:05 +0000 2012,540,Train Station,JP
17,17,5,4e477fdd45dd2955e5a6ab83,34.701198,135.495490,Thu Apr 05 00:02:10 +0000 2012,540,Art Gallery,JP
18,18,5,4b6e6a0af964a52079bc2ce3,34.700060,135.495973,Thu Apr 05 00:04:20 +0000 2012,540,Mall,JP
19,19,5,4c3ea281b8b4be9a317bccef,34.696708,135.496123,Thu Apr 05 00:11:09 +0000 2012,540,Convenience Store,JP
20,20,5,4f28bb20e4b062eef0cf0224,34.697583,135.495621,Thu Apr 05 11:05:50 +0000 2012,540,Train Station,JP
21,21,5,4c36ef2c2c8020a1ff1c8800,34.698199,135.497206,Thu Apr 05 11:06:42 +0000 2012,540,Plaza,JP
22,22,5,4e942020d3e3941fc9e78c1d,34.699390,135.497561,Thu Apr 05 11:07:03 +0000 2012,540,Event Space,JP
23,23,5,4bea83ca61aca59320ca8300,34.700448,135.497303,Thu Apr 05 11:08:15 +0000 2012,540,Plaza,JP
24,24,5,4d97d0b097d06ea84b3b260b,34.701189,135.497904,Thu Apr 05 11:09:59 +0000 2012,540,Department Store,JP
25,25,5,4c0c79a22466a593ac337621,34.701388,135.498306,Thu Apr 05 11:11:29 +0000 2012,540,Food Court,JP
26,26,5,4bbf1a1d82a2ef3ba3322cd2,34.696907,135.499287,Fri Apr 06 14:29:42 +0000 2012,540,Bar,JP
27,27,5,4bd26a059854d13a3acafb4d,34.698022,135.497571,Fri Apr 06 14:41:00 +0000 2012,540,Ramen / Noodle House,JP
28,28,5,4bea83ca61aca59320ca8300,34.700448,135.497303,Fri Apr 06 14:58:32 +0000 2012,540,Plaza,JP
29,29,5,4dc0cba3fa764d03e9f06419,34.701042,135.496914,Fri Apr 06 15:01:33 +0000 2012,540,Plaza,JP
...,...,...,...,...,...,...,...,...,...
2502,2502,5,4e942020d3e3941fc9e78c1d,34.699390,135.497561,Mon Sep 02 11:29:54 +0000 2013,540,Event Space,JP
2503,2503,5,51ca4b4f454abd72140aeaeb,34.699601,135.498290,Mon Sep 02 11:32:03 +0000 2013,540,Animal Shelter,JP
2504,2504,5,51aee8e4011c65be9b32c33c,34.702530,135.495018,Mon Sep 02 12:21:36 +0000 2013,540,Scenic Lookout,JP
2505,2505,5,4f28bb20e4b062eef0cf0224,34.697583,135.495621,Tue Sep 03 03:17:09 +0000 2013,540,Train Station,JP
2506,2506,5,4b679ba0f964a52081572be3,34.700922,135.496767,Tue Sep 03 03:26:25 +0000 2013,540,Indian Restaurant,JP
2507,2507,5,4bea83ca61aca59320ca8300,34.700448,135.497303,Tue Sep 03 03:33:58 +0000 2013,540,Plaza,JP
2508,2508,5,4c3ea281b8b4be9a317bccef,34.696708,135.496123,Wed Sep 04 00:09:55 +0000 2013,540,Convenience Store,JP
2509,2509,5,4b7cb723f964a520a0a22fe3,34.699072,135.498977,Wed Sep 04 03:31:04 +0000 2013,540,Caf,JP
2510,2510,5,4e942020d3e3941fc9e78c1d,34.699390,135.497561,Thu Sep 05 09:55:54 +0000 2013,540,Event Space,JP
2511,2511,5,51aee8e4011c65be9b32c33c,34.702530,135.495018,Thu Sep 05 10:45:44 +0000 2013,540,Scenic Lookout,JP
2512,2512,5,51174c66e4b00c196111abf9,34.718911,135.499662,Fri Sep 06 09:00:10 +0000 2013,540,Other Nightlife,JP
2513,2513,5,4b9b5fd6f964a5204a0336e3,34.775585,135.495401,Fri Sep 06 09:13:54 +0000 2013,540,Train Station,JP
2514,2514,5,4e3290ca45ddcff0a7557c66,34.774486,135.489578,Fri Sep 06 11:16:05 +0000 2013,540,Music Venue,JP
2515,2515,5,4b56b2d7f964a520e51828e3,34.775136,135.490223,Fri Sep 06 12:03:24 +0000 2013,540,Plaza,JP
2516,2516,5,50935c43e4b08367d8982ca8,34.701516,135.494922,Fri Sep 06 13:01:23 +0000 2013,540,Chinese Restaurant,JP
2517,2517,5,51aee8e4011c65be9b32c33c,34.702530,135.495018,Fri Sep 06 13:13:24 +0000 2013,540,Scenic Lookout,JP
2518,2518,5,4b57d5eaf964a520404328e3,34.701549,135.496750,Sat Sep 07 09:58:40 +0000 2013,540,Department Store,JP
2519,2519,5,4dec5cc722713dd973c545e4,34.701514,135.496661,Sat Sep 07 10:01:12 +0000 2013,540,Dessert Shop,JP
2520,2520,5,4cc4bca9b2beb1f76dc21e4c,34.701410,135.494860,Sun Sep 08 23:59:45 +0000 2013,540,Train Station,JP
2521,2521,5,4b6e6a0af964a52079bc2ce3,34.700060,135.495973,Mon Sep 09 00:03:17 +0000 2013,540,Mall,JP
2522,2522,5,4b6e6a0af964a52079bc2ce3,34.700060,135.495973,Fri Sep 13 00:03:17 +0000 2013,540,Mall,JP
2523,2523,5,4e39e3d2c65b8a6b56a7d862,34.697661,135.495597,Fri Sep 13 00:10:21 +0000 2013,540,Laundry Service,JP
2524,2524,5,4c3ea281b8b4be9a317bccef,34.696708,135.496123,Fri Sep 13 00:12:17 +0000 2013,540,Convenience Store,JP
2525,2525,5,51d5222c8bbd851a0386c597,34.698481,135.497153,Fri Sep 13 09:21:52 +0000 2013,540,Public Art,JP
2526,2526,5,4b6107bdf964a520d7062ae3,34.733475,135.498537,Fri Sep 13 09:51:44 +0000 2013,540,Subway,JP
2527,2527,5,4e3290ca45ddcff0a7557c66,34.774486,135.489578,Fri Sep 13 11:13:13 +0000 2013,540,Music Venue,JP
2528,2528,5,4f28bb20e4b062eef0cf0224,34.697583,135.495621,Sun Sep 15 03:04:43 +0000 2013,540,Train Station,JP
2529,2529,5,4cc4bca9b2beb1f76dc21e4c,34.701410,135.494860,Mon Sep 16 08:22:19 +0000 2013,540,Train Station,JP
2530,2530,5,4b651918f964a52010e42ae3,34.700824,135.494701,Mon Sep 16 08:27:26 +0000 2013,540,Post Office,JP
2531,2531,5,50bb10a1e4b0275941bd37bd,34.701346,135.494655,Mon Sep 16 09:29:12 +0000 2013,540,Sake Bar,JP